# Standalone Grafana values (if deploying separately from kube-prometheus-stack)
# helm install grafana grafana/grafana -n infrawatch-monitoring -f grafana-values.yaml

replicas: 1
adminUser: admin
adminPassword: "change-me-in-production"

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

persistence:
  enabled: true
  size: 5Gi

env:
  GF_EXPLORE_ENABLED: "true"
  GF_PANELS_DISABLE_SANITIZE_HTML: "true"
  GF_LOG_MODE: "console"
  GF_DATE_FORMATS_DEFAULT_TIMEZONE: "browser"

grafana.ini:
  server:
    domain: grafana.infrawatch.example.com
    root_url: "https://grafana.infrawatch.example.com"
  security:
    allow_embedding: true
    cookie_secure: true
    cookie_samesite: lax
  analytics:
    reporting_enabled: false
    check_for_updates: false
  auth.anonymous:
    enabled: false

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        uid: prometheus
        url: http://kube-prometheus-stack-prometheus.infrawatch-monitoring:9090
        isDefault: true
        access: proxy
        jsonData:
          httpMethod: POST
          timeInterval: "15s"
      - name: Loki
        type: loki
        uid: loki
        url: http://loki.infrawatch-monitoring:3100
        access: proxy
        jsonData:
          derivedFields:
            - datasourceUid: prometheus
              matcherRegex: "trace_id=(\\w+)"
              name: TraceID
              url: "$${__value.raw}"

dashboardProviders:
  dashboardproviders.yaml:
    apiVersion: 1
    providers:
      - name: "infrawatch"
        orgId: 1
        folder: "InfraWatch"
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/infrawatch
      - name: "kubernetes"
        orgId: 1
        folder: "Kubernetes"
        type: file
        disableDeletion: false
        options:
          path: /var/lib/grafana/dashboards/kubernetes

# Import community dashboards
dashboards:
  kubernetes:
    k8s-cluster:
      gnetId: 15520
      revision: 8
      datasource: Prometheus
    k8s-pods:
      gnetId: 15521
      revision: 8
      datasource: Prometheus
  infrawatch:
    mongodb:
      gnetId: 2583
      revision: 2
      datasource: Prometheus
    redis:
      gnetId: 11835
      revision: 1
      datasource: Prometheus
    rabbitmq:
      gnetId: 10991
      revision: 11
      datasource: Prometheus
