apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: infrawatch
  labels:
    app: backend
    app.kubernetes.io/name: infrawatch-backend
spec:
  selector:
    app: backend
  ports:
    - name: http
      port: 8000
      targetPort: 8000
      protocol: TCP
  type: ClusterIP
