apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: backend
  namespace: infrawatch-monitoring
  labels:
    app: backend
    release: kube-prometheus-stack
spec:
  namespaceSelector:
    matchNames:
      - infrawatch
  selector:
    matchLabels:
      app: backend
  endpoints:
    - port: http
      path: /metrics
      interval: 15s
      scrapeTimeout: 10s
